html, body {
  margin: 0;
  width: 100%;
  height: 100%;
    background-color: #1b1b1b;
  font-family: Roboto, sans-sans-serif;
}
#root {
  width: 100%;
  height: 100%;
  font-family: Roboto;
}
.grid-1-col {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2-col{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* The real grid */
.containerGrid {
  width: 100%;
  margin: auto;
  display: grid;
  opacity: 1;
  grid-template-columns: repeat(12, 1fr);
}
.gridHeader {
  grid-column: span 12;
  justify-self: center;
  align-self: end;
  height: auto;
}
.gridItemHead {
  grid-column: span 4;
  justify-self: center;
  align-self: start;
  font-weight: 700;
  text-align: center;
}
.gridItemContent {
  width: 80%;
  margin: auto;
  margin-top: 8px;
  grid-column: span 4;
  justify-self: start;
  align-self: start;
  text-align: center;
}
@media screen and (max-width: 1024px) {
    .gridItemHead {
      grid-column: span 12;
      margin-top: 48px !important;
    }
    .gridItemContent {
      grid-column: span 12;
      margin-top: 32px;
    }
    .hideOnMobile {
      display: none;
    }
}
.home-page {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.standings {
  margin: 10px;
  margin-top: 0;
}
.standings-table {
  width: 100%
}
.results-grid {
  width: 100%;
  grid-auto-rows: max-content;
}
.results-flex {
  display: flex;
  justify-content: space-evenly;
}
.result-card {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
}
.upcoming-game-card {
  margin: 10px;
  padding: 10px;
}
.standings-table-cell {
  text-align: center;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.nav-bar {
  z-index: 20;
  width: 100%;
  height: 45px;
  background-color: black;
  display: grid;
  grid-template-columns: 75% 25%;
  box-shadow: 2px 2px 13px 2px #333333;
  position: relative;
  padding: 12px 0px;
}
.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 800) {
  .small-text-mobile: {
    font-size: 12px !important;
  }
}